@charset "UTF-8";
body {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.invitationarea {
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 1px 0px;
    position: relative;
    letter-spacing : 0px;
}

.defaultarea {
    width: 100%;
    height: 100px;
    box-shadow: 0px 0px 1px 0px;
    position: relative;
    letter-spacing: 0px;
}
.invitationarea.selected {
    outline: 2px solid #EC49F0 !important;
    z-index: 99 !important;
}

.item {
 color: black;
}

.placeholder {
    text-align: center;
    font-size: 30px;
    color: #ececec;
    font-weight: bold;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.ui-widget-content{
  border : 0px;
  background: none;
}

.item:not(.selected):hover .ui-resizable-handle{
  display: block !important;
  pointer-events: none !important;
  z-index: 99 !important;
}

.ui-resizable-s {
  bottom: -0px;
  height : 2px;
  background-color:#00DCF0
}
.ui-resizable-n {
  top: -0px;
  height : 2px;
  background-color:#00DCF0
}
.ui-resizable-e {
  right: -0px;
  width : 2px;
  background-color:#00DCF0
}
.ui-resizable-w {
  left: -0px;
  width : 2px;
  background-color:#00DCF0
}
.ui-resizable-nw {
  top: -7px;
  left: -7px;
}
.ui-resizable-ne {
  top: -7px;
  right: -7px;
}
.ui-resizable-sw {
  bottom: -7px;
  left: -7px;
}
.ui-resizable-se {
  right: -7px;
  bottom: -7px;
}

.resizabled.ui-resizable-nw,
.resizabled.ui-resizable-ne,
.resizabled.ui-resizable-sw,
.resizabled.ui-resizable-se {
  border-radius: 100%;
  border:1px solid #bcbcbc;
  background-color: white;
  
  width: 14px;
  height: 14px;
  box-shadow: 0px 0px 5px 0px #bcbcbc;
}

.resizabled.ui-resizable-s::after{
  content:"";
  display: block;
  border-radius: 30%;
  border:1px solid #bcbcbc;
  background-color: white;
  position: absolute;
  width: 24px;
  height: 6px;
  box-shadow: 0px 0px 5px 0px #bcbcbc;
  bottom: -2px;
  right: calc(50% - 12px);
}

.resizabled.ui-resizable-n::after{
  content:"";
  display: block;
  border-radius: 30%;
  border:1px solid #bcbcbc;
  background-color: white;
  position: absolute;
  width: 24px;
  height: 6px;
  box-shadow: 0px 0px 5px 0px #bcbcbc;
  top: -2px;
  right: calc(50% - 12px);
}

.resizabled.ui-resizable-e::after{
  content:"";
  display: block;
  border-radius: 30%;
  border:1px solid #bcbcbc;
  background-color: white;
  position: absolute;
  width: 6px;
  height: 24px;
  box-shadow: 0px 0px 5px 0px #bcbcbc;
  top: calc(50% - 12px);
  right: -2px;
}

.resizabled.ui-resizable-w::after{
  content:"";
  display: block;
  border-radius: 30%;
  border:1px solid #bcbcbc;
  background-color: white;
  position: absolute;
  width: 6px;
  height: 24px;
  box-shadow: 0px 0px 5px 0px #bcbcbc;
  top: calc(50% - 12px);
  left: -2px;
}

.guide{
  display: none; 
  position: absolute; 
  left: 0; 
  top: 0; 

 
}
  #guide-h{
      border-top: 2px dotted #FF80FF;
      width: 100px; 
  }

  #guide-v{
      border-left: 2px dotted #FF80FF;
      height: 100%; 
  }

.topline{
    position:absolute;
    width: 100%;
    border-top:1px #FF80FF dotted;
    display:none;
    vertical-align:middle;
    margin-top:-1px;
    margin-left:-250%;
}
.botline{
    position:absolute;
    width: 100%;
    bottom:-1px;
    border-bottom:1px #FF80FF dotted;
    display:none;
    vertical-align:middle;
    margin-top:500px;
    margin-left:-250%;
}
.leftline{
    position:absolute;
    height: 1000%;
    left:-1px;
    border-left:1px #FF80FF dotted;
    display:none;
    vertical-align:middle;
    margin-top:-250%;
   
}
.rightline{
    position:absolute;
    height: 1000%;
    right:-1px;
    border-right:1px #FF80FF dotted;
    display:none;
    vertical-align:middle;
    margin-top:-250%;
    
}

.txt-info{
  position:absolute;
  padding-top: 2px;
  border-radius: .2em;
  color:white;
  font-size: 12px;
  box-shadow: 0px 0px 5px 0px #bcbcbc;
  height: 80px;
  width:200px;
  bottom:-90px;
  right: -210px;
  background-color: rgb(63, 63, 63);
  display:none;
  z-index: 99;
}

.img-info{
  position:absolute;
  padding-top: 2px;
  border-radius: .2em;
  color:white;
  font-size: 12px;
  box-shadow: 0px 0px 5px 0px #bcbcbc;
  height: 60px;
  width:200px;
  bottom:-70px;
  right: -210px;
  background-color: rgb(63, 63, 63);
  display:none;
  z-index: 99;
}


.t-btn {
    display: inline-block;
    font-weight: 400;
    color: #858796;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: none;
}


.area {
    padding: 0 10%;
}

    h2,
    .area h2 {
        text-align: center;
        margin-bottom: 20px;
    }

.sound {
    overflow: hidden;
    text-indent: -5000px;
    position: absolute;
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
}

input:focus {
    border: 1px solid #94caed !important;
    outline: 0;
}

.btn_type_02 {
    display: block;
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 15px;
    text-align: center;
    background: #757575;
    color: #fff;
    font-family: "Noto Sans KR", sans-serif;
}

.img_con img {
    max-width: 100%;
}

/***** 청첩장 템플릿 *****/

/* 청첩장 일러스트형 상단 영역 */
.header .area {
    padding: 2% 10% 18%;
}

.head_name dl {
    margin-bottom: 28px;
}

.head_name dl:last-child {
    margin-bottom: 0;
}

.head_name dt {
    font-size: 18px;
    color: #8f583f;
    margin-bottom: 12px;
    letter-spacing: 0.1em;
}

.head_name dd {
    font-size: 28px;
    color: #8f583f;
    letter-spacing: 0.7em;
}

.head_info {
    margin-top: 46px;
}

.head_info p {
    font-size: 20px;
    color: #8c5036;
    letter-spacing: 1.2px;
}

.head_info .info_date {
    font-size: 20px;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.head_info .info_date strong {
    font: inherit;
}

.head_info .info_place {
    letter-spacing: 1.2px;
}

/* 청첩장 포토형 상단 영역 */
.photo .header {
    background: #f7f7f7;
}

.photo .head_img {
    position: relative;
    padding: 102px 0;
}

.photo .head_img img {
    max-width: 136px;
}

.photo .head_img .head_name {
    position: absolute;
    top: 32%;
    right: 6%;
}

.photo .head_img .head_name p {
text-align: right;
padding-right: 6px;
}

.photo .head_img .head_name p:last-child {
    margin: 6px -4px 0 0;
}

.photo .head_img .head_name p strong {
    font-size: 24px;
    color: #8f583f;
    letter-spacing: 0.7em;
            }

.photo .head_info {
    margin-top: 20px;
}

.photo .head_info p {
    color: #4d1f03;
}

.photo .head_info .info_date {
    font-weight: 500;
    margin-bottom: 8px;
}

/* 청첩장 포토형 결혼합니다 */
.photo .marry {
    background: #fff;
    text-align: center;
}

.photo .marry h2 {
text-align: center;
}

/* 청첩장 포토형 신랑 & 신부 연락 */
.photo .call {
    background: #f8f9fa;
}

/* 청첩장 포토형 갤러리 */
.photo .gallery {
    background: #fff;
}

/* 청첩장 포토형 영상 */
.photo .movie {
    background: #fff;
}

/* 결혼합니다 */
.marry {
    background: #fceeeb;
}

.marry h2 {
text-align: left;
margin-bottom: 0;
padding-bottom: 11%;
}

.marry h2 img {
    max-width: 100%;
}

.marry .area {
padding: 18% 10%;
}

.marry p {
font-size: 16px;
line-height: 36px;
color: #0e0f2d;
letter-spacing: -0.25px;
}

/* 신랑 & 신부 연락 */
.call {
    background: #f8f8f8;
    padding: 60px 0;
    text-align: center;
}

.call dl {
width: 100%;
padding: 10px 0 10px 0;
}

.call dl:after {
content: "";
display: block;
clear: both;
}

.call dl.wife {
padding-bottom: 30px;
}

.call dl dt {
float: left;
margin-top: 4%;
width: 56%;
padding: 0px;
font-size: 20px;
}

.call dl dt span.blue {
font-weight: 400;
color: #121329;
margin-right: 5%;
}

.call dl dt span.pink {
font-weight: normal;
color: #121329;
margin-right: 5%;
}

.call dl dd {
padding: 0px 10px;
width: 12%;
float: left;
margin-top: 3%;
}

.call .list_wrap {
position: relative;
margin-top: 20px;
}

.call .list_wrap:after {
content: "";
display: block;
clear: both;
}

.call .list_wrap.on .list_con {
display: block;
}

.call .list_wrap.on .info_detail {
background-position: center -30px;
}

.call .list_wrap li {
float: left;
width: 50%;
text-align: center;
}

.call .list_wrap h3 {
font-size: 15px;
height: 20px;
padding-bottom: 8px;
}

.call .list_wrap .list_con {
display: none;
margin: 15px 0 10%;
padding-bottom: 10px;
}

.call .list_wrap .btn_wrap {
margin-top: 10px;
}

.call .list_wrap .btn_wrap a {
margin: 0 10px;
}

.call .list_wrap span:nth-child(1) {
font-size: 14px;
margin-right: 5px;
}

.info_detail {
    position: absolute;
    top: 0;
    width: 18px;
    height: 18px;
    display: block;
    background: url(../img/skin/toggle_icon.png) no-repeat;
    background-position: center 0;
    text-indent: -9999999px;
    right: 50%;
    transform: translateX(50%);
    background-size: 100%;
}

/** 갤러리 **/
.gallery {
    background: #fff;
}

.gallery .area {
    padding: 60px 3%;
}

.skin_gallery {
    overflow: hidden;
}

.skin_gallery figure {
float: left;
width: 33.33%;
box-sizing: border-box;
padding: 7px;
}

.skin_gallery figure a {
    background-size: cover !important;
    cursor: default;
    display: block;
}

.skin_gallery figure .img_frame {
    width: 100%;
    vertical-align: top;
}

/* 갤러리 타입02 */
.gallery_type02 {
    text-align: center;
}

.gallery_type02 li {
margin-bottom: 10px;
}

.gallery_type02 li:last-child {
    margin-bottom: 0;
}

.gallery_type02 li img {
    max-width: 100%;
}



/* 갤러리 타입03 */
.gallery_type03 {
    text-align: center;
}

.gallery_type03 .gallery-top .swiper-slide img {
width: 100%;
}

.gallery_type03 .gallery-thumbs .swiper-slide {
height: 150px;
overflow: hidden;
}

.gallery_type03 .gallery-thumbs .swiper-slide img {
}

.gallery_type03 .swiper-slide-thumb-active {
border: 1px solid #757575;
box-sizing: border-box;
}

.gallery_type03 .swiper-button-next.swiper-button-white,
.swiper-button-prev.swiper-button-white {
--swiper-navigation-color: #333;
}

/* 영상 */
.movie {
background: #fff;
}

.movie .area {
padding: 0 3% 60px;
}

.iframe_wrap {
position: relative;
padding-bottom: 56.25% !important;
height: 0;
overflow: hidden;
max-width: 100%;
}

    .iframe_wrap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

/* 오시는 길 */
.location {
}

.location .area {
    padding: 0 3% 60px;
}

.location iframe {
width: 100%;
}

.location .map_wrap {
position: relative;
}

.location .btn_wrap .map_btn {
display: block;
width: 100%;
height: 48px;
line-height: 48px;
background: #757575;
color: #fff;
text-decoration: none;
font-family: "Noto Sans KR", sans-serif;
text-align: center;
font-weight: 500;
}

.location .map_info {
position: relative;
margin-top: 40px;
}

.location .map_info .map_title dt {
font-size: 18px;
color: #444;
font-weight: bold;
margin-bottom: 6px;
text-align : initial !important;
}

.location .map_info .map_title dd {
    font-size: 15px;
    color: #444;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: initial !important;
}

.location .map_info .call_btn {
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #757575;
    border-radius: 50%;
    text-align: center;
    outline: 0;
}

.location .map_info .call_btn img {
    margin-top: 8px;
    vertical-align: initial !important;
}

.location .location_info {
margin-top: 30px;
border-bottom: 1px solid #ddd;
padding-bottom: 34px;
}

.location .location_info dl {
margin-bottom: 8px;
}

.location .location_info dl:last-child {
margin-bottom: 0;
}

.location .location_info dl dt {
font-size: 16px;
color: #555;
font-weight: bold;
}

.location .location_info dl dd {
font-size: 15px;
color: #666;
line-height: 32px;
}

/* 신랑 & 신부에게 마음 전하기 */
.remittance {
    position: relative;
    padding-bottom: 15%;
}

.remittance h2 {
font-size: 20px;
color: #8c5036;
}

.remittance .btn_wrap {
padding: 8% 10% 0;
}

.remittance .btn_wrap .remittance_btn {
font-size: 14px;
}

.remittance .btn_wrap .remittance_btn.type02 {
    margin-top: 20px;
}

.remittance_pop_h, .remittance_pop_w {
    display: none;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    background-color: #fff;
}

.remittance_pop_h .remittance_pop_inner, .remittance_pop_w .remittance_pop_inner {
    background-color: #fafafa;
    border: 1px solid #121329;
    width: 90%;
    margin-left: 5%;
    padding: 8% 7.5% 5% 7.5%;
    box-sizing: border-box;
    position: relative;
}

.remittance_pop_inner .account_info {
    color: #232323;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 1px solid #aaa;
    font-size: 18px;
    margin-bottom: 8.5%;
}

.remittance_pop_inner .account_c {
    color: #232323;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    padding-bottom: 2.5%;
}

.remittance_pop_inner .account_num {
    color: #232323;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    line-height: 18px;
}

.remittance_pop_inner .copy_btn {
    display: block;
    line-height: 26px;
    width: 30%;
    margin-left: 70%;
    margin-top: -20px;
    background-color: #dddddd;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #232323;
    text-align: center;
}

.remittance_pop_inner .close_btn {
    width: 100%;
    line-height: 52px;
    line-height: 52px;
    color: #fff;
    background-color: #121329;
    display: block;
    border-radius: 5px;
    margin-top: 10%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    text-align: center;
}

/* 방명록 */
.guest_book {
    background: #f7f8f9;
}

.guest_book .area {
padding: 0 3% 50px 3%;
}

.guest_book .write_box {
background: none;
padding-top: 20px;
}

.guest_book .write_box dl {
border-bottom: 1px solid #828282;
color: #666;
border-top: none;
padding-top: 5px;
padding-bottom: 5px;
line-height: 30px;
}

.guest_book .write_box dl:after {
content: "";
display: block;
clear: both;
}

.guest_book .write_box dl dt {
position: relative;
float: left;
width: 90px;
vertical-align: top;
color: #666;
font-family: '나눔고딕';
letter-spacing: 0.3px;
top: auto;
}

.guest_book .write_box dl dt:after {
    content: ":";
    position: absolute;
    right: 0;
}

.guest_book .write_box dl dd {
float: right;
width: calc(100% - 100px);
vertical-align: top;
}

.guest_book .write_box dl dd input {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background: #f7f8f9;
}

.guest_book .guest_btn {
margin-top: 10%;
}

.message_wrap {
    margin-top: 35px;
    font-family: "Noto Sans KR", sans-serif;
}

.message_wrap .message_top:after {
content: "";
display: block;
clear: both;
}

.message_wrap .message_top span {
font-size: 14px;
}

.message_wrap .message_top .name {
color: #333;
float: left;
}

.message_wrap .message_top .date {
color: #777;
float: right;
}

.message_wrap ul {
margin: 0 20px;
}

.message_wrap li {
background: #fff;
padding: 20px;
border: 1px solid #bdbdbd;
margin-bottom: 10px;
box-sizing: border-box;
}

.message_wrap .message_text {
position: relative;
margin: 15px 0 10px;
}

.message_wrap .message_text p {
width: calc(100% - 30px);
font-size: 14px;
color: #777;
font-family: "Noto Sans KR", sans-serif;
letter-spacing: -0.25px;
}

.message_wrap .message_text .message_del {
position: absolute;
right: 0;
top: 0;
width: 8px;
background: url(../img/skin/del_icon.png) no-repeat center;
text-indent: -9999px;
background-size: 100%;
}

.message_wrap .btn_wrap {
margin-top: 35px;
}

.message_wrap .btn_wrap::after {
content: "";
display: block;
clear: both;
}

.message_wrap .btn_wrap .btn_type_02 {
float: left;
width: 49%;
margin-right: 2%;
}

.message_wrap .btn_wrap .btn_type_02:last-child {
    margin-right: 0;
}

.password_check {
    display: none;
}

.password_check input {
    width: 100%;
    background: #f4f3f1;
    border: 0;
    height: 28px;
    text-align: center;
    font-size: 14px;
}

.password_check input::placeholder {
    text-align: center;
}

.password_check .check_btn {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}

/***** //청첩장 템플릿 *****/

/***** 감사장 템플릿 *****/

/* 상단 영역 */
.thanks .header .area {
    padding: 10% 10% 18%;
}

.thanks .head_name dd {
    letter-spacing: 11px;
}

/* 감사합니다  */
.thanks .marry.tks {
}

.thanks .marry.tks h2 {
    text-align: center;
}

.thanks .marry.tks p {
    font-weight: bold;
    text-align: center;
}

/* 신랑 & 신부 연락처 */
.thanks .call span {
    color: #121329;
}


/* 감사장포토형 상단 영역  */
.thanks.photo .head_img .head_name {
    top: 29%;
}

.thanks.photo .head_img {
    padding: 122px 0;
}


/* footer */
.footer {
}

    .footer .sns_list {
        background-color: #999;
        padding: 20px 0;
    }

.footer .sns_list::after {
    content: "";
    display: block;
    clear: both;
}

.footer .sns_list li {
    float: left;
    width: calc(100%/3);
    height: 42px;
    line-height: 42px;
    border-right: 1px solid #adadad;
    box-sizing: border-box;
    text-align: center;
}

.footer .sns_list li:last-child {
    border-right: 0;
}

.footer .sns_list li a {
    display: block;
    padding: 0px 3px;
}

.footer .sns_list li a img {
    vertical-align: middle;
}

.footer .bottom_logo {
    text-align: center;
    padding: 20px 0;
}

/* 템플릿 폰트 */
.tem_font_gd {
    font: 16px/1.2 "나눔명조","Nanum Myeongjo", "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
}

.map_title {
    font: 16px/1.2 "나눔명조","Nanum Myeongjo", "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
}

.call.line {
    font: 16px/1.2 "나눔명조","Nanum Myeongjo", "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
}

/* Base
----------------------- */
* {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

html, body {
    height: 100%;
}

html {
    font: 16px/1.2 "나눔명조","Nanum Myeongjo", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
    color: #666;
    letter-spacing: -1px;
}

html, button, input, select, textarea {
    font: 16px/1.2 "나눔명조","Nanum Myeongjo", "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
    color: #666;
    letter-spacing: -1px;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

li {
    list-style: none;
}
/* Links
----------------------- */
a {
    text-decoration: none;
}

    a:focus {
        outline: thin dotted;
    }

    a:active, a:hover {
        outline: 0;
    }

/* Typography
----------------------- */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}


.color-fill-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    background-color: #fff;
    margin: 2px;
}

.dropdown-color-fill-icon {
    position: relative;
    float: left;
    margin-left: 0;
    margin-right: 0
}

.well .markup {
    background: #fff;
    color: #777;
    position: relative;
    padding: 45px 15px 15px;
    margin: 15px 0 0 0;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: none;
}

.well .markup::after {
    content: "Example";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.line {
    /*border: 1px dotted #ddd;*/
    box-shadow: 0px 0px 1px 0px;
}

.w25 li {
    float: left;
    width: 25%;
}

.w25 li img {
    width: 100%;
    margin-bottom: 4px;
}

.btn-tertiary {
    border: none;
}

.btn-tertiary:hover {
    background: none;
    color: #333;
    font-weight: bold;
}

img {
    vertical-align: middle;
    border-style: none;
}

select, textarea, input {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.inline-group {
    padding-right: 10px;
}

.inline-group .form-control {
    text-align: right;
}

.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#divDisabled1 {
    position: relative;
    display: block;
    background-color: white;
    opacity: 0.7;
    width: 100.8%;
    height: 200px;
    margin-bottom: -200px;
    z-index: 999;
}

#divDisabled2 {
    position: relative;
    display: block;
    background-color: white;
    opacity: 0.7;
    width: 50%;
    height: 80px;
    margin-bottom: -80px;
    z-index: 999;
}

#divDisabled3 {
    position: relative;
    display: block;
    background-color: white;
    opacity: 0.7;
    width: 50%;
    height: 80px;
    margin-bottom: -180px;
    z-index: 999;
}

#divDisabled4 {
    position: relative;
    display: block;
    background-color: white;
    opacity: 0.7;
    width: 100.8%;
    height: 180px;
    margin-bottom: -180px;
    z-index: 999;
}

#divDisabled5 {
    position: relative;
    display: block;
    background-color: white;
    opacity: 0.7;
    width: 100.8%;
    height: 120px;
    margin-bottom: -120px;
    z-index: 999;
}

.t-btn-sm {
    padding: 0 1rem 0 1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    min-width: 15%
}

.t-btn.selected {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.t-btn:focus {
    outline: 0;
}

.item {
    display: flex;
}

.text {
    width: 100%;
}

.matchinfo {
    display: none;
}

.matchinfo.selected {
    display: block;
}



#wrap {
    display : inline-block;
    width : 800px;
}


.w25 li > img.selected {
    outline: 2px solid #CF21FA;
}

.w25 li > img:hover {
    outline: 2px solid #CF21FA;
}

.w25 li > img {
    box-shadow: -7px 15px 24px 0px rgba(0,0,0,0.1);
}

.w25 li > p:hover {
    outline: 2px solid #CF21FA;
}

.w25 li > p.selected {
    outline: 2px solid #CF21FA;
    color: darkgray;
}

.w25 li > p {
    box-shadow: -7px 15px 24px 0px rgba(0,0,0,0.1);
    border: 1px solid #ececec;
    width: 100%;
    height: 96px;
    text-align: center;
    padding-top: 35px;
    font-weight: bold;
    font-size: 14px;
    color: #ececec;
    margin-bottom: 4px;
}

.dvTool{
    width : 27%
}

.dvView {
    width: 46%
}

.dvInfo {
    width: 27%;
   
}

.remittance_btn:hover {
    text-decoration: none !important;
    color: #000000;
}
.remittance_btn {
    width: 280px;
    height: 50px;
    display: flex;
    align-items: center;
    background: url(../img/skin/kakaopay.jpg) no-repeat 20% #ffdf00;
    background-size: 50px;
    color: #000;
    margin: 0 auto;
    text-indent: 120px;
    font-size: 14px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.guideline {
    /*top: 72px;
            left: -25px;*/
    width: 100%;
    position: absolute;
    background-size: 50px, 50px, 50px 50px, 50px 50px;
    background-image: linear-gradient(90deg, #FFDEFF 1px, transparent 1px), linear-gradient(90deg, #FFDEFF 1px, transparent 1px), linear-gradient(#FFDEFF 1px, transparent 1px), linear-gradient(#FFDEFF 1px, transparent 1px);
    z-index: 80;
}

.tdAttached a {
    float:left;
    margin-right : 20px;
}
.tdAttached p {
    float: left;
    margin-top: 7px;
    color: #FCA2A8 ;
    font-size : 11px;
}


#design_header h6 {
    float: left;
    width: 80%;
}

#design_header span {
    display: none;
    float: right;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 5px;
}

.mapImg {
    width: 100% !important;
    height: auto !important;
}
