using MobileInvitation.Models
@using MobileInvitation.FunctionHelper;
@{
    Layout = "User_Layout";
}
<link rel="stylesheet" href="/css/jquery.fullpage.min.css">
<link rel="stylesheet" href="/css/service.css">
<section class="event_section">
    <div class="img_con mw100">
        <div class="pc_area mt80">
            <img src="/img/service/remittance/remittance_img01.png" alt="간편 축의금 송금 서비스 모바일 청첩장으로 간편하게 축의금을 받으세요."  class="wp100"/>
            <div class="area">
                <img class="mt100 mb100" src="/img/service/remittance/remittance_img02.png" alt="송금 서비스 안내" />
            </div>
        </div>
        <div class="m_area mt50">
            <img src="/img/service/remittance/m_img01.png" alt="송금 서비스 안내." />
        </div>
    </div>
    <div class="notice_con mt0">
        <div class="area">
            <h2>꼭 확인해주세요.</h2>
            <div class="notice_text">
                <p>축의금 송금 서비스는 이용 수수료가 발생합니다.</p>
                <p>이용 수수료는 내부 사정에 의해 변경될 수 있습니다.</p>
                <p>지인이 송금한 축의금은 설정한 계좌로 실시간 입금처리 됩니다.</p>
                <p>단, 은행사정에 따라 입금이 일부 지연될 수 있습니다.</p>
                <p>1회 최대 200만 원까지 송금 가능합니다.</p>
            </div>
        </div>
    </div>
</section>
