<!-- 유의사항 -->
<div class="manage_notice">
	<div class="area">
		<h3>꼭 확인해주세요</h3>
		<div class="notice_con">
			<dl>
				<dt>축의금 송금 서비스는 이용 수수료가 발생합니다. </dt>
				<dd>
					지인분들께 받은 금액에서 건당 이용료 차감 후, 설정한 계좌로 입금됩니다. <br>
					예) 50,000원(지인이 보낸 금액) - 1,000(수수료) = 49,000원이 계좌로 입금됩니다. <br>
					단, 수수료는 내부 사정에 의해 변경될 수 있습니다.
				</dd>
			</dl>
			<dl>
				<dt>지인이 송금한 축의금은 설정한 계좌로 실시간 입금처리 됩니다.</dt>
				<dd>
					단, 은행사정에 따라 입금이 일부 지연될 수 있습니다.
				</dd>
			</dl>
		</div>
	</div>
</div>
<!-- //유의사항 -->