@using MobileInvitation.Models
@using MobileInvitation.Areas.User.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<MyKakaoRemitAccountDataModel>
@{
	Layout = "RemitService_Layout";
	ViewBag.Title = "축의금 송금";
}

<!-- 하객 송금페이지 타이틀 -->
<div class="sub_title_box">
    <div class="area">
        <h1><a href="javascript:window.close();">@ViewBag.Title</a></h1>
    </div>
</div>
<!-- //하객 송금페이지 타이틀 -->
<!-- 하객 송금페이지 컨텐츠 -->
<div class="payment_contents">
    <div class="area">
        <ul class="payment_list">
            @if (Model.Count > 0)
            {
                foreach (var account in Model)
                {
                    <li>
                        <a id="linkAccount" class="send_account" target="_blank"
                            asp-action="RemitAccountTo" asp-controller="KakaoRemit" asp-route-id="@account.AccountId">
                            <strong>@(account.AccountTypeName)</strong>에게 보내기
                            <span class="kakaopay send_complete" id="completeAccount"><img src="~/img/common/kakaopay_icon.png" alt="카카오페이 이미지"></span>
                        </a>
                    </li>
                }
            }
            else
            {
                <li style="text-align:center;">송금할 계좌가 등록되지 않았습니다.</li>
            }
        </ul>
    </div>
</div>
<!-- //하객 송금페이지 컨텐츠 -->
<!-- 유의사항 -->
<div class="manage_notice">
    <div class="area">
        <div class="notice_con">
            <dl>
                <dt>꼭 확인해주세요</dt>
                <dd class="dash">축의금은 카카오페이로 안전하게 송금됩니다.</dd>
                <dd class="dash">송금내역은 알림톡 또는 카카오페이에서 확인하세요.</dd>
                <dd class="dash">카카오톡 미설치 고객은 구글플레이 또는 앱스토어에서 카카오톡 앱을 설치하세요.</dd>
                <dd class="dash">1회 최대 이체 한도는 이백만원입니다.</dd>
            </dl>
        </div>
    </div>
</div>
<!-- //유의사항 -->
@section Scripts
{
    <script>
        $(document).ready(function (e) {

        });

        function setComplete() {
            $('#linkAccount').addClass('on');
            $('#completeAccount').html('송금완료');
        }
    </script>
}