@using MobileInvitation.Models
@using MobileInvitation.Areas.User.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = "RemitService_Layout";
	ViewBag.Title = "축의금 송금";
}
<!-- 하객 송금페이지 컨텐츠 -->
<div class="payment_contents result">
    <div class="payment_result">
        <div class="img_con">
            <img src="~/img/common/checked_y.svg" alt="완료 이미지">
        </div>
        <p><strong>송금을 완료했습니다.</strong></p>
    </div>
</div>
<!-- //하객 송금페이지 컨텐츠 -->
<!-- 하단 버튼 -->
<div class="btn_wrap bottom type01">
    <a href="javascript:ok();" class="btn type09">확인</a>
</div>
<!-- //하단 버튼 -->
@section Scripts
{
    <script>
        function ok() {
            // 값 넘겨주기
            try {
                opener.setComplete();
            } catch (e) { }

            window.close();
        }
    </script>
}