@using MobileInvitation.Models
@using X.PagedList.Mvc.Core; @*페이징툴을 이용...*@
@using X.PagedList.Mvc; @*페이징툴을 이용...*@
@using X.PagedList; @*페이징툴을 이용...*@
@using MobileInvitation.FunctionHelper;
@{
    Layout = "User_Layout_m";
}
<link rel="stylesheet" href="/css/m_customer.css">

<section class="customer">
    <div class="sub_con_wrap mypage_service">
        <div class="sub_title_box">
            <div class="area">
                <h2><a href="/Customer">고객센터</a></h2>
            </div>
        </div>
        <!-- contents -->
        <div class="mypage_con">
            <!-- 고객센터 검색영역 -->
            <div class="cs_center">
                <div class="cs_top">
                    <a href="javascript:popOpen(0);">
                        <h2>CS Center <span>1644-0708</span></h2>
                        <p><span>평일 09:00 ~ 18:00 (점심 12:00 ~ 13:00)</span></p>
                    </a>
                </div>
                <form action="/Customer/Faq" id="FaqList" method="post">
                    @*@using (Html.BeginForm("m_Faq", "Customer", FormMethod.Post, new { id = "FaqList" }))
            {*@
                    <div class="cs_content">
                        <div class="cs_search">
                            <input type="text" name="SearchTxt" class="inp" placeholder="궁금하신 내용을 검색해 보세요" value="@ViewData["SearchTxt"]" />
                            <button type="button" name="SearchGo">검색버튼</button>
                        </div>
                        <div class="cs_con_bottom">
                            <p>혹시 원하는 답변을 찾지 못하셨나요?</p>
                            <a href="/Customer/Ask_Reg">1:1 문의</a>
                        </div>
                    </div>
                    </form>
                    @*}*@
            </div>
            <!-- //고객센터 검색영역 -->
            <!-- 고객센터 카테고리 메뉴 -->
            <!--<div class="cs_category">
                <ul>-->
                    <!-- li class on 추가 시 선택효과 -->
                    <!--<li class="on"><a href="javascript:;">전체</a></li>
                    <li><a href="javascript:;">제작</a></li>
                    <li><a href="javascript:;">결제</a></li>
                    <li><a href="javascript:;">회원정보</a></li>
                    <li><a href="javascript:;">사용법</a></li>
                    <li><a href="javascript:;">송금</a></li>
                    <li><a href="javascript:;">감사장</a></li>
                </ul>
            </div>-->
            <!-- //고객센터 카테고리 메뉴 -->
            <!-- 고객센터 카테고리 컨텐츠 -->
            <div class="cs_category_contents">
                <ul class="faq mb40">
                    @{
                        int TotalCount = ViewBag.Faq_List.TotalItemCount;

                        int pageno = (int)ViewData["page"];
                        int itemperpage = (int)ViewData["pageSize"];
                        int currentno = TotalCount - ((pageno - 1) * itemperpage);

                    }
                    @if (TotalCount == 0)
                    {

                        <li>
                            리스트가 없습니다
                        </li>

                    }
                    else
                    {
                        @foreach (TB_Board list in ViewBag.Faq_List)
                        {
                            <li id="@list.Board_ID">
                                <dl style="text-align: center">
                                    @*<dt></dt>*@
                                    <dd style="width:100%">
                                        <div class="faq_con_title" style="text-align: left">
                                            <a href="javascript:;">@list.Title</a>
                                        </div>
                                        <div class="faq_con_text" style="text-align: left">
                                            @Html.Raw(StringHelper.HtmlDecode(list.Content))
                                        </div>
                                    </dd>
                                </dl>
                            </li>
                        }
                    }
                </ul>
            </div>
            <!-- 더보기 -->
            <div class="btn_wrap area bottom type01">
                <a href="javascript:;" class="btn type03">+ 더보기</a>
            </div>
            <!-- //더보기 -->
        </div>
        <!-- //contents -->
        <!-- 고객센터 전화연결 팝업 -->
        <div class="pop_wrap">
            <div class="layer_pop">
                <h3 class="tc">고객센터</h3>
                <p class="pop_text tc">
                    1644-0708 번호로 <br>
                    전화를 연결하시겠습니까?
                </p>
                <div class="btn_wrap pop_bottom type02">
                    <a href="javascript:;" class="btn type03_1" onclick="popClose()">닫기</a>
                    <a href="tel:1644-0708" class="btn type03">전화연결</a>
                </div>
            </div>
            <div class="pop_mask"></div>
        </div>
        <!-- //고객센터 전화연결 팝업 -->
    </div>
</section>

@section Scripts
{

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.js"></script>
    <script src="/js/customer/customer.js"></script>

    <script>


        $("[name=SearchTxt]").keypress(function (event) {
            if (event.which == 13) {
                $("[name=SearchGo]").click();
                return false;
            }
        });

        //검색
        $("[name=SearchGo]").click(function () {
            $("#FaqList").submit();

        });
    </script>
}