@using MobileInvitation.Areas.User.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FindIdViewModel
@{
    ViewData["Title"] = "BarunsonMcard 모바일 초대장 - 아이디/비밀번호 찾기";
    Layout = null;
}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <a id="findidresult"
        asp-action="FindIDResult" asp-controller="Member" 
        asp-route-tokenVersionId="@Model.tokenVersionId"
        asp-route-encData="@Model.encData"
        asp-route-integrityValue="@Model.integrityValue"></a>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        document.domain = "barunsonmcard.com";
        $(document).ready(function () {

            window.opener.location.href = $("#findidresult").attr("href");
            window.close();
        });
        
    </script>
</body>
</html>