@using MobileInvitation.Models;
@using MobileInvitation.Areas.User.Models;
@model OrderPayFinalModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "User_Layout_m";
}
<link rel="stylesheet" href="/css/m_order.css" asp-append-version="true">
@* <script src="/js/complete/complete.js"></script> *@

<!-- sub contents -->
<section class="sub_contents order">
    <div class="sub_con_wrap">
        <div class="order_result">
            <img src="/img/common/complete_icon.svg" alt="제작완료 체크 이미지"class="complete_img" />
            <p class="result_text">
                @Html.Raw(Model.Message)
            </p>
            <p class="order_number">
                <strong> @Model.UserName 님의 주문번호</strong>
                <span class="point03">@Model.OrderCode</span>
            </p>
            <div class="btn_wrap bottom type02 clear complete_bottom">
                <a asp-action="Index" asp-controller="Main" class="btn type03_1">계속 쇼핑하기</a>
                <a asp-action="Mypage" asp-controller="Member" class="btn type03">주문내역 확인</a>
            </div>
            <div class="complate_banner swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <a href="/event/minvitation" target="_blank"><img src="/img/order/m_order_banner_01.png" alt="제작완료 배너이미지"></a>
                    </li>
                    <li class="swiper-slide">
                        <a href="https://barunsongshop.com" target="_blank"><img src="https://static.barunsoncard.com/barunsonmcard/order/m_giftshop.jpg" alt="제작완료 배너이미지"></a>
                    </li>
                </ul>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <script>
        $(function () {

            if ($('.complate_banner').length > 0) {
                new Swiper(".complate_banner", {
                    spaceBetween: 0,
                    slidesPerView: 1,
                    centeredSlides: true,
                    roundLengths: true,
                    watchOverflow: true,
                    loop: true,
                    autoplay: {
                        delay: 3000,
                        disableOnInteraction: false,
                    },
                    speed: 300,
                    loopAdditionalSlides: 30,
                    pagination: {
                        el: '.complate_banner .swiper-pagination',
                        type: 'custom',
                        renderCustom: function (swiper, current, total) {
                            return "<span class='swiper-pagination-current mont'>" + ('' + current).slice(-2) + "</span>" + ' / ' + "<span class='swiper-pagination-total mont'>" + ('' + total).slice(-2) + "</span>";
                        },
                    },

                });
            }
        });
    </script>
}

<!-- //sub contents -->