@{
    Layout = null;
}
<div class="layer_pop">
    <h3>축하 화환 선물</h3>
    <div class="img_con">
        <img src="/img/order/c_flowers_img_v2.jpg" alt="축하 하환 이미지" />
    </div>
    <p class="pop_text">
        하객 분들이 손쉽게 신랑/신부/혼주 분들께 <br />
        <strong>축하 화환</strong>을 보낼 수 있는 서비스입니다.
    </p>
    <div class="text_info_box mt10">
        <p>‘축하 화환 선물’ 기능을 사용하시면 하객분들에게 화환 선물 버튼이 보입니다.</p>
        <p>하객분들이 화환 선물하기를 이용하시면 신랑신부님의 결혼식에 화환이 배송됩니다.</p>
        <p>모바일 청첩장에 입력한 예식장, 예식일시를 기준으로 화환이 배송됩니다.</p>
    </div>
    <div class="btn_wrap type01">
        <a href="javascript:;" class="btn type03_1" onclick="popClose()">닫기</a>
    </div>
</div>
<div class="pop_mask"></div>
